<section class="data-sources box" role="region">
  <div class="box-title">
    <h3>Fuentes de datos</h3>
  </div>
  <div class="box-content">
    <ul class="source-list">
      <li><a href="http://www.mostoles.es/en/ayuntamiento/ayuntamiento/estructura-gobierno/area-gobierno-concejalia-hacienda/organo-gestion-presupuestaria-contabilidad" target="_blank">Datos presupuestarios · <b>Ayuntamiento de Móstoles</b></a></li>
      <li><a href="http://www.ine.es/jaxiT3/Tabla.htm?t=138" target="_blank">Datos de población · <b>Instituto Nacional de Estadística (INE)</b></a></li>
      <li><a href="http://www.ine.es/jaxiT3/Tabla.htm?t=2605" target="_blank">Datos de inflación (Medias anuales de IPC para la Comunidad de Madrid) · <b>Instituto Nacional de Estadística (INE).</b></a></li>
    </ul>
    <div class="alert inline-block note">
      <p class="title tupper">Nota</p>
      <ul>
        <li>Los ingresos y gastos mostrados incluyen únicamente al Ayuntamiento de Móstoles.</li>
        <li>El ajuste de la inflación se realiza a <b>1 de enero de {{ last_inflation_year }}</b>.</li>
      </ul>
    </div>
  </div>
</section>