<footer role="contentinfo">
  <div class="footer-corp">
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span7">
          <p class="logo-aragon">
            <span>Un proyecto de</span>
            <a href="http://www.civio.es/es" target="_blank"><img src="{{ STATIC_URL }}assets/logo-civio.png" alt="Civio"></a>
            <span>&nbsp;basado en el código de </span>
            <a href="http://opendata.aragon.es" target="_blank"><img src="{{ STATIC_URL }}assets/logoAragonOpenData.png" alt="Open Data Aragón"></a>
          </p>
        </div>
        <div class="span5">
          <p class="legal-text">
            <a href="http://www.mostoles.es/mostoles/cm/ayto-mostoles/temas/avisoLegal" target="_blank">Aviso Legal</a> 
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
