<header role="banner">
  <div class="container-fluid">
    <h1 class="main-title">
      <a href="{{ url('budget_app.views.welcome') }}" title="Ir a la home de Presupuestos de Móstoles">
        Presupuestos
      </a>
    </h1>
    <a class="icon-mostoles" href="http://www.mostoles.es/mostoles/cm" title="Ayuntamiento de Mostoles" target="_blank">Ayuntamiento de Mostoles</a>
    <div class="row-fluid">
      <div class="span4 offset8">

        <ul class="menu-social">
          <li><a href="http://www.mostoles.es/es/rss/canales-rss-disponibles-en-el-ayuntamiento" target="_blank"><img src="{{ STATIC_URL }}assets/rss.gif" alt="rss"></a></li>
          <li><a href="https://www.facebook.com/AyuntamientoMostoles" target="_blank"><img src="{{ STATIC_URL }}assets/facebook.gif" alt="facebook"></a></li>
          <li><a href="http://twitter.com/AytoMostoles" target="_blank"><img src="{{ STATIC_URL }}assets/twitter.gif" alt="twitter"></a></li>
          <li><a href="http://www.youtube.com/AyuntamientoMostoles" target="_blank"><img src="{{ STATIC_URL }}assets/youtube.gif" alt="youtube"></a></li>
          <li><a href="http://www.flickr.com/photos/ayuntamientomostoles/" target="_blank"><img src="{{ STATIC_URL }}assets/flickr.gif" alt="flickr"></a></li>
          <li><a href="https://plus.google.com/114345062505807575790" target="_blank"><img src="{{ STATIC_URL }}assets/gplus.png" alt="Google+"></a></li>
        </ul>

      </div>
    </div>
  </div>

  <a class="main-menu-toggle" href="main-menu">Menú principal</a>
  
  <nav role="navigation" id="main-menu">
    <div class="container-fluid">
      <h1 class="visuallyhidden">Menú principal</h1>

      <ul class="nav-rwd">
        <li class="page-budgets"><a href="{{ url('budget_app.views.budgets') }}" class="icon-budget">Visión global</a></li>
        <li class="page-policies"><a href="{{ url('budget_app.views.policies') }}" class="icon-policy">Políticas</a></li>
        <li class="page-glossary"><a href="{{ url('budget_app.views.terms') }}" class="icon-glossary">¿Qué significa...?</a></li>
      </ul>
    </div>
  </nav>
</header>